.post-navigation {
    margin-top: 4rem;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

    .next-post,
    .prev-post,
    .nav-previous,
    .nav-next {
        width: 47%;
        line-height: 1.4;
    }

    a {
        text-decoration: none !important;
    }

    span {
        margin-bottom: 2rem;
        display: block;
        @include poppins-style(400);
        font-size: 1.6rem;
    }

    label {
        font-size: 1.4rem;
        color: $blackLight;
        @include poppins-style(400);
    }

    .next-post,
    .nav-next {
        text-align: right;
    }
}