.stories-tags {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: capitalize;
    
    .stories-tags-title {
        margin-bottom: 1rem;
        display: block;

        @include poppins-style(500);
    }

    a {
        margin: .5rem 0 0.5rem .5rem;
        padding: .5rem 2rem;
        border-top-right-radius: 1.5rem;
        display: inline-block;
        background: $bgColor;
    }
}