$primary: #05445e;
$secondary: #04C096;
$lightRed: #189AB4;
$white: #fff;
$black: #000;
$blackLight: #555;
$baseColor: rgb(48 48 48);
$darkGrey: #d8e0e2;
$lightGrey: #f7f7f7;
$lightBlue: #6d7fcc;
$bgColor: #f4f9ff;
$zeroSize: 1.1rem;
$smallFont: 1.2rem;
$contentFontSize: 1.3rem;
$baseSize: 1.5rem;


$baseFont: 18;
$baseLineHeight: 1.5;
$baseSpacing: ($baseFont * $baseLineHeight) * 1px;
$font-family-poppins: "Poppins", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

