.wp-block-quote {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 20%;
  border-left: 0;
  display: block;

  // background-image: url('../images/heart.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;

  // @include resp-min($breakpoint-xs) {
  // 	padding-left: 12%;
  // }
  // @include resp-min($breakpoint-md) {
  // 	padding-left: 11%;
  // 	background-size: contain;
  // }

  p {
    margin-bottom: 0.5rem;

    @include poppins-style(700, "italic");
  }

  cite {
    width: 100%;
    border-bottom: 2px solid $primary;
    display: block;
  }
}

/* Screen Reader Text */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  position: absolute !important;
  overflow: hidden;
  word-wrap: normal !important;

  &:focus {
    width: auto;
    height: auto;
    padding: 15px 20px;
    border-top-right-radius: 2px;
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000; /* Above WP toolbar */
    background-color: #f1f1f1;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 25%);
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    color: #0baab0;
    text-decoration: none;
    clip: auto !important;
  }
}

.wp-block-image {
  border-top-left-radius: 1.5rem;

  &.size-full {
    min-width: 100%;
  }
}
