@import "base/variables";
@import "base/config";
// @import "components/hero-banner";
// @import "components/stories-grid";
// @import "components/grid-3-block";
// @import "components/grid-4-block";
// @import "components/visual-stories";
// @import "components/shorts";
// @import "components/video-stories";
// @import "components/events-awards";
// @import "components/contribution";
// @import "components/newsletter";

.seo-content .wp-block-heading {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}
